<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.fly"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="21" />

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name="com.fly.FlyApplication"
        android:allowBackup="true"
        android:icon="@drawable/share"
        android:label="@string/app_name"
        android:theme="@style/flyAppTheme" >
        <activity
            android:name="com.fly.MainActivity"
            android:configChanges="mcc|keyboard|orientation"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.fly.GuideActivity"
            android:configChanges="mcc|keyboard|orientation"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.fly.LoginActivity"
            android:configChanges="mcc|keyboard|orientation"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.fly.QuizActivity"
            android:configChanges="mcc|keyboard|orientation"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.fly.RegistActivity"
            android:configChanges="mcc|keyboard|orientation"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.fly.ForgotPasswdActivity"
            android:configChanges="mcc|keyboard|orientation"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.fly.UserCenter"
            android:configChanges="mcc|keyboard|orientation"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />
          <activity
            android:name="com.fly.ResultActivity"
            android:configChanges="mcc|keyboard|orientation"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />
    </application>

</manifest>